@charset "UTF-8";

main,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
section,
div,
header,
footer,
article,
figure {
	margin: 0;
	padding: 0;
	font-family: "Noto Sans KR", sans-serif;
}

body {
	background-color: #000;
}

ul,
ol {
	list-style: none;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 15px 15px 0;
	box-sizing: border-box;
	z-index: 10;

	h1,
	nav {
		color: #ffd974;
	}

	h1 {
		font-weight: 100;
	}

	.navi {
		button {
			background-color: transparent;
			padding: 5px;
			border: 1px solid #ffd974;
			border-radius: 3px;
			color: #ffd974;
		}

		.navi_btn {
			width: 50px;
			height: 50px;
			background-color: #ffd974;
			border-radius: 50%;
			transition: box-shadow 1s linear;
			box-shadow: -20px 0 0 #000 inset;
		}

		&.active {
			.navi_btn {
				box-shadow: 20px 0 0 #000 inset, 0 0 25px #ffd974;
			}
		}
	}
}

.intro {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 100px;
	box-sizing: border-box;
	background-color: #000;
	color: #ffd974;
	text-transform: uppercase;

	> * {
		display: flex;
		justify-content: center;
	}

	*::selection {
		background-color: #ffd974;
		color: #000;
	}

	p {
		&:nth-of-type(2) {
			font-size: 90px;
			font-weight: 100;
			font-family: "Noto Sans TC", sans-serif;
		}

		&:nth-of-type(3) {
			font-size: 70px;
			font-weight: 100;
			letter-spacing: 20px;
		}

		&:nth-of-type(4) {
			font-size: 30px;
			font-weight: 300;
		}
	}

	.deco_txt {
		position: absolute;
		top: 27px;
		left: 50%;
		transform: translateX(-50%);
		font-size: 18px;
		font-weight: 200;

		span {
			display: inline-block;
			margin-left: 2.5px;
			font-weight: inherit;
		}
	}

	> .slot_box {
		position: relative;
		font-family: "Noto Emoji", sans-serif;
		font-size: 130px;
		font-weight: 100;
		margin-bottom: 100px;
		transition: text-shadow 1s linear;

		&.shine {
			text-shadow: 0 0 75px #ffd974, 0 0 5px #ffecb8, 0 0 3px #ffd974;
		}
	}

	> .moon_list {
		display: flex;
		justify-content: center;

		> li {
			font-family: "Noto Emoji", sans-serif;
		}
	}
}

.site_list {
	.swiper_site_list {
		width: 100%;
		height: 100vh;

		.swiper_slide {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			text-align: center;

			figure {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			h2 {
				position: relative;
				color: #fff;
				font-size: 40px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			ul {
				position: relative;
				word-break: keep-all;

				li {
					margin: 0 auto;
					font-size: 12px;
					color: #fff;

					&:nth-of-type(1) {
						font-size: 20px;
					}

					&:nth-of-type(2) {
						width: 450px;
						font-size: 15px;
					}

					&:nth-of-type(3) {
						width: 600px;
						line-height: 20px;
					}

					&:nth-of-type(4) {
						display: flex;
						justify-content: center;
						column-gap: 20px;
						margin-top: 20px;

						a {
							display: flex;
							justify-content: center;
							align-items: center;
							width: 160px;
							height: 60px;
							border: 2px solid #fff;
							border-radius: 5px;
							text-decoration: none;
							color: #fff;
						}
					}

					&:not(:last-child) {
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	body {
		font-size: 3.125vw;
	}

	.intro {
		padding: 2rem;

		> p {
			width: 100%;

			&:nth-of-type(2) {
				font-size: 4rem;
			}

			&:nth-of-type(3) {
				font-size: 2rem;
				letter-spacing: 0.5rem;
				margin-bottom: 0.5rem;
			}

			&:nth-of-type(4) {
				font-size: 0.8rem;
				margin-bottom: 1rem;
			}

			&:nth-of-type(5) {
				font-size: 1.3rem;
				font-weight: 200;
				text-align: center;
				word-break: keep-all;
			}
		}

		.slot_box {
			font-size: 9rem;
			margin-bottom: 5rem;
		}

		.deco_txt {
			position: absolute;
			top: 6vh;
			width: 40%;
			flex-wrap: wrap;
			font-size: 2.1vh;

			span {
				margin-left: 0.2rem;
			}
		}
	}

	.site_list {
		.swiper_site_list {
			.swiper_slide {
				h2 {
					font-size: 2rem;
					font-weight: 900;
					margin-bottom: 0.5rem;
				}

				ul {
					li {
						font-size: 1rem;

						&:nth-of-type(1) {
							font-size: 1.5rem;
							font-weight: 700;
						}

						&:nth-of-type(2) {
							width: 100%;
							padding: 0 0.5rem;
							font-size: 1.1rem;
							box-sizing: border-box;
						}

						&:nth-of-type(3) {
							display: -webkit-box;
							width: 100%;
							padding: 0 0.75rem;
							overflow: hidden;
							box-sizing: border-box;
							font-size: 0.8rem;
							line-height: 1.5rem;
							text-overflow: ellipsis;
							-webkit-line-clamp: 10;
							-webkit-box-orient: vertical;
						}

						&:nth-of-type(4) {
							column-gap: 2rem;
							margin-top: 2rem;

							a {
								width: 6rem;
								height: 4rem;
								font-size: 0.8rem;
							}
						}

						&:not(:last-child) {
							margin-bottom: 1rem;
						}
					}
				}
			}
		}
	}

	.narrow {
		.intro {
			&::before,
			&::after {
				position: absolute;
				bottom: 2rem;
				left: 50%;
				width: 2rem;
				height: 2rem;
				border: 1px solid #ffd974;
				transform: translateX(-50%);
				content: "";
			}

			&::before {
				border-radius: 50%;
			}

			&::after {
				width: 0.5rem;
				height: 0.5rem;
				border-top-color: transparent;
				border-right-color: transparent;
				transform: rotate(-45deg) translate(0.6rem, -0.6rem);
				transform-origin: left bottom;
			}

			> p {
				&:nth-of-type(2) {
					font-size: 4.5rem;
				}

				&:nth-of-type(3) {
					font-size: 2.5rem;
				}

				&:nth-of-type(4) {
					font-size: 1rem;
				}

				&:nth-of-type(5) {
					font-size: 1.5rem;
					padding: 0 1.5rem;
					box-sizing: border-box;
				}
			}

			.slot_box {
				font-size: 12rem;
				margin-bottom: 5.5rem;
			}

			.moon_list {
				li {
					font-size: 1rem;
				}
			}
		}
	}
}
